{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}
{% block contenu %} 
    <h1 align="center"> Bienvenue sur Indie Shop</h1>
     <h2 align="center">La boutique de jeux indépendants</h2>
{% endblock %} 