{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Mentions {% endblock %}
{% block contenu %} 
    <h1 align="center">Mentions Légales</h1>
    
    <h1 class="h3 mb-3 font-weight-normal">Société anonyme au capital de beaucoup trop d'EUR au 14 mai 2018.</h1>
    <h1 class="h3 mb-3 font-weight-normal">Immatriculée au RCS d'Arras</h1>
    <h1 class="h3 mb-3 font-weight-normal">sous le numéro unique d'identification B 152 180 222</h1>
    <h1 class="h3 mb-3 font-weight-normal">Numéro APE : 651F</h1>
    <h1 class="h3 mb-3 font-weight-normal">Siège Social : 57 Rue Bocquet Flochel 62000 Arras</h1>
    <h1 class="h3 mb-3 font-weight-normal">Représentant légal : M. Benjamin CATOUILLARD, Directeur Général</h1>
    <h1 class="h3 mb-3 font-weight-normal">Directeur de la publication : Mme Caroline DUPUICH</h1>
{% endblock %} 